/* *{
    margin-left: 10px;
    margin-right: 10px;
} */
nav ul li a{
    display: inline-block;
    padding: 20px;
}
nav ul li{
    list-style: none;
}

li:hover {
    background-color: aqua;
}
ul{
    background-color: bisque;
    padding: 0px;
    display: flex;
    justify-content: center
}
nav li a{
    text-decoration: none;
}


/* Third Task */
td, th{
    padding: 5px;
}